<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apams_new"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.apams_new.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.apams_new.Apams_LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.apams_new.Apams_register"
            android:label="@string/title_activity_apams_register" >
        </activity>
        <activity
            android:name="com.example.apams_new.InvitationcodeListActivity"
            android:label="@string/title_invitationcode_list" >
        </activity>
        <activity
            android:name="com.example.apams_new.InvitationcodeDetailActivity"
            android:label="@string/title_invitationcode_detail"
            android:parentActivityName="com.example.apams_new.InvitationcodeListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.apams_new.InvitationcodeListActivity" />
        </activity>
        <activity
            android:name="com.example.apams_new.AssetListActivity"
            android:label="@string/title_asset_list" >
        </activity>
        <activity
            android:name="com.example.apams_new.AssetDetailActivity"
            android:label="@string/title_asset_detail"
            android:parentActivityName="com.example.apams_new.AssetListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.apams_new.AssetListActivity" />
        </activity>
    </application>

</manifest>